.restaurant-deets {
  display: flex;
  flex-direction: column;
  position: relative;
  text-align: left;
  width: 70%;
  margin: auto;
  line-height: 3px;
  margin-top: 3rem;
}
.restaurant-deets p {
  color: #666666;
}
.restaurant-btn {
  position: absolute;
  right: 5rem;
  top: 1rem;
}
